[init]
	defaultBranch = main
[user]
	name = VioletsOleander
	email = 1377232072@qq.com
[alias]
	c = commit
	a = add
	s = status
	p = push
	b = branch
    l = log
	sw = switch
	retry = !git commit -e -F .git/COMMIT_EDITMSG
    diff-s = -c delta.features=side-by-side diff
[core]
    editor = nvim
    pager = delta
	autocrlf = false
	quotepath = false
	ignorecase = false
[interactive]
    diffFilter = delta --color-only
[credential]
	helper = cache
[merge]
    conflictStyle = zdiff3
[delta]
    light = true
    navigate = true    # use n and N to move between diff sections
    hyperlinks = true
    line-numbers = true
[push]
	autoSetupRemote = true
[log]
	date = format:"%Y-%m-%d (%a) %H:%M:%S"
