# Toggle proxy in the environment.
export def --env toggle-proxy [] {
    if ('http_proxy' not-in  $env) {
        let proxy_url = "{{ proxy_url }}"

        $env.http_proxy = $proxy_url
        $env.https_proxy = $proxy_url
        $env.no_proxy = 'localhost,127.0.0.1,::1'

        print $'Successfully enabled proxy as ($proxy_url).'
    } else {
        hide-env http_proxy
        hide-env https_proxy
        hide-env no_proxy

        print 'Successfully disabled proxy.'
    }
}

# Show proxy information.
export def proxy-status [] {
  $env 
  | select --optional 'http_proxy' 'https_proxy' 'no_proxy'
}
